aiohttp
beautifulsoup4
certifi
google-generativeai
html-sanitizer
langchain-core
langchain-google-genai
langchain-openai
langgraph
matplotlib
mistune
openai
pandas
pdfminer-six
pdfplumber
pillow-heif
pillow
playwright
pypandoc-binary
pypandoc
pydantic
python-docx
python-dotenv
python-pptx
pymongo
pytz
requests
schedule
slack-bolt
slack-sdk
tiktoken
typing-extensions
openpyxl
md2slack
