beautifulsoup4
certifi
google-generativeai
html-sanitizer
langchain-google-genai
langchain-openai
langgraph
matplotlib
mistune
openai
pandas
pdfminer-six
pdfplumber
pillow-heif
pillow
playwright
pypandoc-binary
pypandoc
python-docx
python-dotenv
pymongo
pytz
schedule
slack-bolt
slack-sdk
openpyxl
md2slack
aiohttp
python-pptx