beautifulsoup4==4.12.3
certifi==2024.12.14
google-generativeai==0.8.4
html-sanitizer==2.5.0
langchain-google-genai==2.0.9
langchain-openai==0.3.3
langgraph==0.2.68
matplotlib==3.10.0
mistune==0.8.4
openai==1.60.2
pandas==2.2.3
pdfminer-six==20231228
pdfplumber==0.11.4
pillow-heif==0.21.0
pillow==11.1.0
playwright==1.49.1
pypandoc-binary==1.15
pypandoc==1.15
python-docx==1.1.2
python-dotenv==1.0.1
pymongo==4.11
pytz==2024.2
schedule==1.2.2
slack-bolt==1.22.0
slack-sdk==3.34.0